target/
**/*.rs.bk
target/
**/*.rs.bk
target/
**/*.rs.bk
.gdb_history
*.log

__pycache__/
*.py[cod]

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/meli.substvars
debian/meli/

# CLion IDE
.idea