#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export RUSTUP_HOME=${HOME}/.rustup
export DH_VERBOSE = 1
export NO_MAN
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
#export MELI_FEATURES = cli-docs sqlite3

%:
	dh $@  --with quilt

override_dh_auto_configure:
	true

override_dh_auto_test:
	true

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo
